<p>
  <b>Name:</b>
  <%= @game.name %>
</p>

<p>
  <b>Status:</b>
  <%= @game.status %>
</p>

<p>
  <b>Background:</b>
  <%= @game.board ? @game.board.background_image : '' %>
</p>


<%= link_to 'Edit', edit_admin_game_path(@game) %> |
<%= link_to 'Back', admin_games_path %>
