<%= form_for(@user, :url => user_path) do |f| %>

  <%= render partial: 'shared/error_list', locals: {model: @user} %>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :email %>
    <%= f.text_field :email, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :password %>
    <%= f.password_field :password, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, class: 'form-control' %>
  </div>
  <div class="actions">
    <%= f.submit nil, class: 'btn btn-primary' %>
    <%= link_to "Back", lobby_path, class: 'btn btn-default' %>
  </div>
<% end %>
