<%= form_for(@user, :url => submit_reset_password_user_path, method: :post) do |f| %>

  <%= render partial: 'shared/error_list', locals: {model: @user} %>

  <%= hidden_field_tag 'token', @user.password_reset_token %>

  <div class="field">
    <%= f.label :password, class: 'label' %>
    <%= f.password_field :password, class: 'input' %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation, class: 'label' %>
    <%= f.password_field :password_confirmation, class: 'input' %>
  </div>

  <div class="actions">
    <%= f.submit 'Reset Password', class: 'button is-primary' %>
  </div>

<% end %>