<%= form_for([defined?(@campaign) ? @campaign: nil, @game].compact) do |f| %>
  <%= render partial: 'shared/error_list', locals: {model: @game} %>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control', autofocus: true %>
  </div>

  <div class="form-group">
    <%= f.label :status %>
    <%= f.select :status, Game::STATUS.values, {}, class: 'form-control' %>
  </div>

  <%= f.fields_for :board do |board_form| %>
    <div class="form-group">
      <%= board_form.label :background_image %>
      <%= board_form.select :background_image_id, get_background_image_options(board_form.object.background_image_id), {}, class: 'form-control' %>
    </div>
  <% end %>

  <%= f.submit class: 'btn btn-primary' %>
<% end %>

<script type="text/javascript">
  $(document).ready(function() {
    var $select = $("#game_board_attributes_background_image_id");
    $select.imagepicker({
      initialized: function() {
      }
    });
  });
</script>
