<%= form_for(@game) do |f| %>
  <%= render partial: 'shared/error_list', locals: {model: @game} %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :status %>
    <%= f.select :status, Game::STATUS.values %>
  </div>

  <%= f.fields_for :board do |board_form| %>
    <div class="field">
      <%= board_form.label :background_image %>
      <%= board_form.select :background_image, options_from_collection_for_select(get_board_backgrounds, :last, :first, board_form.object.background_image) %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<script type="text/javascript">
  $(document).ready(function() {
    var $select = $("#game_board_attributes_background_image");
    $select.children("option").each(function() {
      var $this = $(this);
      var url = ROOT_URL + "assets/" + $this.attr("value");
      $this.attr("data-img-src", url);
    });

    $select.imagepicker();
  });
</script>