<% content_for :header do %>
  <%= javascript_include_tag "games/index" %>
  <%= javascript_include_tag "/game_server/client.js" %>
  <%= javascript_include_tag "initiative_screen" %>
<% end %>

<div id="init_box" style="width: 400px">
</div>

<script type="text/javascript">
  GAME_SERVER_URL = '/game_server';
  GAME_ID = <%= @game.id %>;
  USER_ID = <%= current_user.id %>;
  USER_AUTH_TOKEN = '<%= current_user.auth_token %>';
  INITIAL_DATA = <%= raw(@initiative_json) %>;
  INITIATIVE_URL = '<%= initiative_names_game_path(@game) %>';
</script>