<% content_for :header do %>
  <%= javascript_include_tag "games" %>
  <%= javascript_include_tag "/game_server/client.js" %>
<% end %>

<div id="game_container">
  <div id="game_header">
    <label for="zoom_level">Zoom:</label>
    <input type="text" id="zoom_level" style="font-weight: bold; width: 50px;" />
    <div id="zoom_slider"></div>

  </div>

  <div id="game_gutter">

    <button id="tool_pointer" class="tool">Pointer</button>
    <button id="tool_eraser" class="tool">Eraser</button>
    <button id="tool_pen" class="tool">Pen</button>
    <button id="tool_color_button" class="tool"></button>
    <input type="hidden" id="tool_color" />
    <div id="tool_color_menu">

    </div>
    <input type="text" id="tool_width" />
    <button id="undo_button" class="tool">Undo</button>
    <button id="tool_measure" class="tool">Measure</button>

  </div>

  <div id="game_board_container">
    <canvas id="game_board" ></canvas>
  </div>

  <br style="clear: both;"/>
</div>
<script type="text/javascript">
  BOARD_DATA_URL = '<%= get_game_board_game_path(@game) %>';
  GAME_SERVER_URL = '/game_server';
  GAME_ID = <%= @game.id %>;
  USER_ID = <%= current_user.id %>;
  USER_AUTH_TOKEN = '<%= current_user.auth_token %>';

</script>