<% content_for :header do %>
  <%= javascript_include_tag "games/index" %>
  <%= javascript_include_tag "/game_server/client.js" %>
  <%= javascript_include_tag "camera" %>
<% end %>

<%= render partial: 'camera' %>
<div id="game_container">

  <button id="open_initiative_button">Initiative</button>
  <div id="initiative_window" class="scroll">
    <%= render partial: 'initiative' %>

    <button id="initiative_display_toggle">View Mode</button>
  </div>

  <div id="game_header">
    <h3 class="title"><%= link_to "Dungeon", campaign_path(@game.campaign), style: 'text-decoration: none;' %></h3>
    <div style="float: left;">
      <label id="zoom_level_label" for="zoom_level">Zoom:</label>
      <input type="text" id="zoom_level" />
    </div>
    <div style="float: left; margin-left: 20px;">
      <div id="zoom_slider"></div>
    </div>
    <br style="clear: both;" />

  </div>

  <div id="game_gutter">

    <div id="tool_menu" class="toolMenu"></div>
    <div id="tool_color" class="toolMenu"></div>
    <div id="tool_line_width" class="toolMenu"></div>
    <div id="fog_tool_line_width" class="toolMenu" style="display:none;"></div>

    <div id="undo_button" class="tool">Undo</div>

    <div id="open_camera_button" class="tool">Camera</div>

    <div id="enable_capture_button" class="tool" style="display:none;">Begin Capture</div>
    <div id="end_capture_button" class="tool" style="display:none;">End Capture</div>

    <div id="clear_tokens_button" class="tool" style="display:none;">Clear Tokens</div>

  </div>

  <div id="game_board_container">
    <canvas id="game_board" ></canvas>
  </div>

  <br style="clear: both;"/>
</div>
<script type="text/javascript">
  BOARD_DATA_URL = '<%= get_game_data_game_path(@game) %>';
  GAME_SERVER_URL = '/game_server';
  GAME_ID = <%= @game.id %>;
  USER_ID = <%= current_user.id %>;
  USER_AUTH_TOKEN = '<%= current_user.auth_token %>';
  INITIATIVE_URL = '<%= initiative_names_game_path(@game) %>';

  startGameBoard();

</script>