<% content_for :header do %>
  <%= javascript_include_tag "games" %>
  <%= javascript_include_tag "/game_server/client.js" %>
  <%= javascript_include_tag "camera" %>
<% end %>

<%= render partial: 'camera' %>
<div id="game_container">

  <button id="open_initiative_button">Initiative</button>
  <div id="initiative_window" class="scroll">
    <%= render partial: 'initiative' %>
    <br style="clear: both;" />
    <button id="initiative_display_toggle">View Mode</button>
  </div>

  <div id="game_header">
    <div id="header_left">
      <h3 class="title"><%= link_to "Dungeon", campaign_path(@game.campaign) %></h3>

      <div id="current_tool"></div>

    </div>

    <div id="tool_ribbon"></div>

  </div>

  <div id="game_gutter">

    <div id="undo_button" class="tool">Undo</div>

    <div id="tool_options"></div>

  </div>

  <div id="game_board_container">
    <canvas id="game_board" ></canvas>
  </div>

  <br style="clear: both;"/>
</div>
<script type="text/javascript">
  BOARD_DATA_URL = '<%= get_game_data_game_path(@game) %>';
  GAME_SERVER_URL = '/game_server';
  GAME_ID = <%= @game.id %>;
  USER_ID = <%= current_user.id %>;
  USER_AUTH_TOKEN = '<%= current_user.auth_token %>';
  INITIATIVE_URL = '<%= initiative_names_game_path(@game) %>';

  startGameBoard();

</script>