<% content_for :header do %>
  <%= javascript_include_tag "games" %>
  <%= javascript_include_tag "camera" %>
<% end %>

<%= render partial: 'camera' %>

<div id="game_board_container">
  <canvas id="game_board" ></canvas>
</div>

<script type="text/javascript">
  BOARD_DATA_URL = '<%= get_game_data_game_path(@game) %>';
  GAME_ID = <%= @game.id %>;
  CAMPAIGN_ID = <%= @game.campaign_id %>;

  startGameBoard();

</script>