
<% unless games.empty? %>

  <h4><%= title %></h4>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Created</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <% games.each do |g| %>
    <tr>
      <td><%= link_to g.name, game_path(g) %></td>
      <td><%= g.created_at.localtime.strftime("%b %d, %Y %I:%M %P") %></td>
      <td><%= link_to 'Initiative', initiative_game_path(g) %></td>
      <td><%= link_to 'Edit', edit_game_path(g) %></td>
    </tr>
    <% end %>
  </table>

<% end %>