<%= form_for(@campaign) do |f| %>
  <%= render partial: 'shared/error_list', locals: {model: @campaign} %>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control', autofocus: true %>
  </div>

  <div class="actions">
    <%= f.submit class: 'btn btn-primary' %>
  </div>
<% end %>
