<%= form_for(@campaign) do |f| %>
  <%= render partial: 'shared/error_list', locals: {model: @campaign} %>

  <div class="field">
    <%= f.label :name, class: 'label' %>
    <div class="control">
      <%= f.text_field :name, class: 'input', autofocus: true %>
    </div>
  </div>

  <div class="field">
    <div class="control">
      <label class="checkbox">
        <%= f.check_box :use_x_letters %> Use Letters on X Axis
      </label>
    </div>
  </div>

  <div class="field">
    <div class="control">
      <label class="checkbox">
        <%= f.check_box :requires_authorization %> Require Authorization
      </label>
    </div>
  </div>

  <div data-campaign-users data-attributes="<%= {inputName: 'campaign[campaign_users_attributes]', availableUsers: User.visible, campaignUsers: @campaign.campaign_users }.to_json %>"></div>
  <br>

  <div class="actions">
    <%= f.submit class: 'button is-primary' %>
  </div>
<% end %>
