<%= form_for(@campaign) do |f| %>
  <%= render partial: 'shared/error_list', locals: {model: @campaign} %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
