
<% if games.empty? %>

  <h4 class="title is-5">No <%= title %></h4>

<% else %>

  <h4 class="title is-5"><%= title %></h4>

  <ul class="game-list">
    <% games.each do |game| %>

      <li class="box">
        <div class="game-label">
          <%= link_to game.name, game_path(game), class: 'name' %>
          <br />
          <span class="timestamp">
            <span class="far fa-clock"></span> <%= game.created_at.localtime.strftime("%m/%d/%y %H:%M") %>
          </span>
        </div>

        <div class="controls">
          <%= if_owner(game) do %>
            <%= link_to edit_game_path(game), class: 'button is-secondary', data: {toggle: 'tooltip'}, title: 'Edit' do %>
              <span class="far fa-edit fa-fw"></span>
            <% end %>
            <%= link_to game_path(game), { method: :delete, class: 'button is-danger', title: 'Delete', data: {confirm: 'Are you sure?', toggle: 'tooltip'}} do %>
              <span class="fas fa-times fa-fw"></span>
            <% end %>
          <% end %>
        </div>
      </li>

    <% end %>
  </ul>

<% end %>

