
<div class="row">
  <div class="col-xs-12">
    <h2>
      <%= @campaign.name %><br/>
      <small>
        <span class="fa fa-user"></span>
        <%= @campaign.user_name %>
      </small>
    </h2>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <%= render :partial => 'game_table', :locals => {:games => @campaign.active_games, :title => 'Active Games'} %>
  </div>
</div>

<%= if_owner(@campaign) do %>
  <div class="row">
    <div class="col-xs-12">
      <%= render :partial => 'game_table', :locals => {:games => @campaign.hidden_games, :title => 'Hidden Games'} %>
    </div>
  </div>
<% end %>

<div class="row">
  <div class="col-xs-12">
    <%= render :partial => 'game_table', :locals => {:games => @campaign.archived_games, :title => 'Old Games'} %>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <% if if_owner(@campaign) %>
      <%= link_to 'Edit', edit_campaign_path(@campaign), class: 'btn btn-primary' %>
      <%= link_to 'Create New Game', new_campaign_game_path(@campaign), class: 'btn btn-primary' %>
    <% end %>
    <%= link_to 'Back to Lobby', campaigns_path, class: 'btn btn-primary' %>
  </div>
</div>