
<div class="columns">
  <div class="column">
    <h2 class="title">
      <%= @campaign.name %><br/>
    </h2>
    <h3 class="subtitle">
      <span class="fa fa-user"></span>
      <%= @campaign.user_name %>
    </h3>
  </div>
</div>

<div class="columns">
  <div class="column">
    <% if if_owner(@campaign) %>
      <%= link_to 'Add Game', new_campaign_game_path(@campaign), class: 'button is-primary' %>
      <%= link_to 'Manage Images', campaign_images_path(@campaign), class: 'button is-primary' %>
    <% end %>
  </div>
</div>

<div class="columns">
  <div class="column">
    <%= render :partial => 'game_table', :locals => {:games => @campaign.active_games, :title => 'Active Games'} %>
  </div>
</div>

<%= if_owner(@campaign) do %>
  <div class="columns">
    <div class="column">
      <%= render :partial => 'game_table', :locals => {:games => @campaign.hidden_games, :title => 'Hidden Games'} %>
    </div>
  </div>
<% end %>

<div class="columns">
  <div class="column">
    <%= render :partial => 'game_table', :locals => {:games => @campaign.archived_games, :title => 'Old Games'} %>
  </div>
</div>

<div class="columns mt-3">
  <div class="column">
    <% if if_owner(@campaign) %>
      <%= link_to 'Change Campaign Name', edit_campaign_path(@campaign), class: 'button is-primary' %>
      <%= link_to 'Add Game', new_campaign_game_path(@campaign), class: 'button is-primary' %>
    <% end %>
    <%= link_to 'Back to Lobby', campaigns_path, class: 'button is-primary' %>
  </div>
</div>