<%= form_for(@image, as: :image) do |f| %>
    <%= render partial: 'shared/error_list', locals: {model: @image} %>

    <div class="field">
      <%= f.label :name, class: 'label' %>
      <%= f.text_field :name, class: 'input', autofocus: true %>
    </div>

    <div class="field">
      <div class="file">
        <label class="file-label">
          <%= f.file_field :filename, class: 'file-input' %>
          <span class="file-cta">
            <span class="file-icon">
              <i class="fas fa-upload"></i>
            </span>
            <span class="file-label">
              Choose a file…
            </span>
          </span>
          <span class="file-name">

          </span>
        </label>
      </div>
    </div>

    <div class="actions">
      <%= f.submit class: 'button is-primary' %>
    </div>
<% end %>

<script type="text/javascript">

  document.addEventListener('DOMContentLoaded', function() {

    document.querySelectorAll(".file-input");

  });

</script>