<%= form_for([@campaign, @image], as: :image, html: {multipart: true}) do |f| %>
  <%= render partial: 'shared/error_list', locals: {model: @image} %>

  <div class="field">
    <%= f.label :name, class: 'label' %>
    <%= f.text_field :name, class: 'input', autofocus: true %>
  </div>

  <% if @image.is_a?(TokenImage) %>
    <div class="field">
      <%= f.label :visible, class: 'checkbox' do %>
        <%= f.check_box :visible, class: 'checkbox' %>
        Visible to PCs?
      <% end %>
    </div>
  <% end %>

  <% if @image.new_record? %>
    <div class="field">
      <div data-file-picker data-attributes="<%= {name: 'image[filename]'}.to_json %>"></div>
    </div>
  <% else %>
    <div class="field">
      <label class="label">
        <%= @image.filename %>
      </label>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit class: 'button is-primary' %>
  </div>
<% end %>
