<h2 class="title">Campaign Images</h2>
<%= link_to 'Back to Campaign', campaign_path(@campaign), class: 'button is-primary' %>

<%= render partial: 'image_list', locals: { label: 'Drawing', images: @drawing_images, new_image_link: new_campaign_drawing_image_path } %>

<%= render partial: 'image_list', locals: { label: 'Token', images: @token_images, new_image_link: new_campaign_token_image_path } %>

<%= render partial: 'image_list', locals: { label: 'Background', images: @background_images, new_image_link: new_campaign_background_image_path } %>

<br>


<%= link_to 'Back to Campaign', campaign_path(@campaign), class: 'button is-primary' %>