<h2 class="title">Token Images</h2>
<%= link_to 'Back to Profile', user_path, class: 'button is-primary' %>
<br><br>

<%= link_to "New Image", new_user_user_token_image_path, class: 'button is-primary is-small' %>

<table class="table is-striped">
  <thead>
  <tr>
    <th>Name</th>
    <th>Status</th>
    <th>Size</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <% @user_token_images.each do |image| %>
    <tr>
      <td><%= link_to image.name, image.url(true) %></td>
      <td><%= image.status %></td>
      <td><%= image.width %>x<%= image.height %></td>
      <td>
        <%= link_to edit_image_path(image), { class: 'button is-primary', title: 'Edit', data: {toggle: 'tooltip'}} do %>
          <span class="fas fa-edit"></span>
        <% end %>

        <%= link_to image_path(image), { method: :delete, class: 'button is-danger', title: 'Delete', data: {confirm: 'Are you sure?', toggle: 'tooltip'}} do %>
          <span class="fas fa-times fa-fw"></span>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<br>


<%= link_to 'Back to Profile', edit_user_path, class: 'button is-primary' %>