<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="description" content="dungeon, a board game project">
  <meta name="author" content="Dan Elbert">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>Dungeon</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>

  <%= yield :header %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
  <div id="headerBar" class="sixteen columns">
    <div id="title" class="ten columns alpha">
      <h1><%= link_to "Dungeon", lobby_path, style: 'text-decoration: none;' %></h1>
    </div>
    <div id="navContainer" class="six columns omega">
      <%= link_to "Logout", logout_path %>
      <%= link_to "Lobby", lobby_path %>
      <%= link_to "Users", admin_users_path %>
      <%= link_to "Campaigns", admin_campaigns_path %>
      <%= link_to "Games", admin_games_path %>
    </div>
  </div>
  <div id="headerSeparator" class="sixteen columns"></div>

  <div class="sixteen columns">
    <%= render :partial => 'layouts/flash_message' %>
  </div>
  <div class="sixteen columns content">
    <%= yield %>
  </div>

  <div id="footer" class="two columns offset-by-fourteen">
    &copy; 2013 Dan Elbert
  </div>

</div>

</body>
</html>
