<!DOCTYPE html>
<html>
<head>
  <title>Dungeon</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
  <%= render :partial => 'layouts/flash_message' %>

  <div class="navigation">

    <div class="title">
      <h1>Dungeon</h1>
      <h2></h2>
    </div>

    <%= link_to "Logout", logout_path %>
    <%= if_admin do %>
      <%= link_to "Lobby", lobby_path %>
    <% end %>
    <%= link_to "Users", admin_users_path %>
    <%= link_to "Games", admin_games_path %>
    <div class="clearer"><span></span></div>

  </div>

  <div class="holder_top"></div>

  <div class="holder">
    <%= yield %>
    <br/><br/>
  </div>

  <div class="footer">

    <div class="left">&copy; 2013 Dan Elbert.
    </div>

    <div class="right">
      <a href="http://templates.arcsin.se/">Website template</a> by <a href="http://arcsin.se/">Arcsin</a>
    </div>

    <div class="clearer">&nbsp;</div>

  </div>
</div>

</body>
</html>
