<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="description" content="dungeon, a board game project">
  <meta name="author" content="Dan Elbert">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="apple-touch-icon" href="<%= asset_path("favicon/md.png") %>">
  <link rel="icon" href="<%= asset_path("favicon/lrg.png") %>">

  <title><%= content_for?(:title) ? yield(:title) : "Dungeon" %></title>


  <%= yield :header %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav class="navbar navbar-fixed-top navbar-expand-md navbar-light bg-light mb-3">

  <%= link_to "Dungeon", lobby_path, class: 'navbar-brand' %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-content" aria-controls="navbar-content" aria-expanded="false" aria-label="expand navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbar-content">
    <ul class="navbar-nav ml-auto">

      <%= if_admin do %>
        <li class="nav-item"><%= link_to "Admin", admin_path, class: 'nav-link' %></li>
      <% end %>
      <% if current_user %>
        <li class="nav-item"><%= link_to "Logout", logout_path, class: 'nav-link' %></li>
        <li class="nav-item"><%= link_to "Lobby", lobby_path, class: 'nav-link' %></li>
        <li class="nav-item"><%= link_to "Users", admin_users_path, class: 'nav-link' %></li>
        <li class="nav-item"><%= link_to "Campaigns", admin_campaigns_path, class: 'nav-link' %></li>
        <li class="nav-item"><%= link_to "Games", admin_games_path, class: 'nav-link' %></li>
        <li class="nav-item"><%= link_to "Backgrounds", admin_background_images_path, class: 'nav-link' %></li>
      <% end %>

    </ul>
  </div>

</nav>

<%= render :partial => 'layouts/flash_message' %>

<div class="container">
  <%= yield %>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <span class="float-right">&copy; 2013-2018 Dan Elbert</span>
    </div>
  </div>
</div>

<div id="dialog_container"></div>

</body>
</html>
