<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="description" content="dungeon, a board game project">
  <meta name="author" content="Dan Elbert">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="apple-touch-icon" href="<%= asset_path("favicon/md.png") %>">
  <link rel="icon" href="<%= asset_path("favicon/lrg.png") %>">

  <title><%= content_for?(:title) ? yield(:title) : "Dungeon" %></title>

  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_pack_tag 'application' %>
  <%= javascript_pack_tag 'application' %>

  <%= yield :header %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav class="navbar is-light" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      Dungeon
    </a>

    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="dungeon-nav-menu">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="dungeon-nav-menu" class="navbar-menu">
    <div class="navbar-end">

      <%= if_admin do %>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">
            Admin
          </a>

          <div class="navbar-dropdown">
            <%= link_to "Users", admin_users_path, class: 'navbar-item' %>
            <%= link_to "Games", admin_games_path, class: 'navbar-item' %>
            <%= link_to "Campaigns", admin_campaigns_path, class: 'navbar-item' %>
            <%= link_to "Background Images", admin_background_images_path, class: 'navbar-item' %>

          </div>
        </div>
      <% end %>
      <% if current_user %>
        <%= link_to "About", about_path, class: 'navbar-item' %>
        <%= link_to "Profile", edit_user_path, class: 'navbar-item' %>
        <%= link_to "Logout", logout_path, class: 'navbar-item' %>
      <% end %>

    </div>
  </div>
</nav>



<%= render :partial => 'layouts/flash_message' %>

<section class="section">
  <div class="container">
    <%= content_for?(:content) ? yield(:content) : yield %>
  </div>
</section>

<footer class="footer has-text-right">
  <span>&copy; 2013-2018 Dan Elbert</span>
</footer>

<div id="dialog_container"></div>

</body>
</html>
