<!DOCTYPE html>
<html class="noscroll">
<head>
  <meta charset="utf-8">
  <meta name="description" content="dungeon, a board game project">
  <meta name="author" content="Dan Elbert">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">

  <link rel="apple-touch-icon" href="<%= asset_path("favicon/md.png") %>">
  <link rel="icon" href="<%= asset_path("favicon/lrg.png") %>">

  <title><%= content_for?(:title) ? yield(:title) : "Dungeon" %></title>

  <%= stylesheet_pack_tag 'application' %>
  <%= javascript_pack_tag 'application' %>

  <%= yield :header %>
  <%= csrf_meta_tags %>
</head>
<body class="game">

<%= render :partial => 'layouts/flash_message' %>

<%= yield %>

<div id="dialog_container"></div>

</body>
</html>
